@font-face { font-family: Whatever; src: url('/static/DOLLAR.TTF'); }


* {
    margin: 0px;
    padding: 0px;
}


body.msft #body .center p {
	margin-left:30px;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: Helvetica Neue, Helvetica, Arial, Sans-serif;
    background: #5F8A42;
    color: #383f38;
    border-top: solid 1px #D66011;
}

a {
    color: inherit;
    text-decoration: none;
}

label {
	width: 170px;
	display: block;
	float: left;
}

#header {
    height: 35px;
    margin: 0px 0px 10px 0px;
    padding-top: 15px;
    border-top: solid 3px #F28410;
}

#header .nav {
    position: absolute;
    height: 30px;
    top: 7px;
    right: 0px;
}

#header .nav .link {
    float: left;
    padding-left: 15px;
    text-shadow: 0px 1px 0px rgba(255,255,255,0.3);
}
#header .nav .login_link {
    font-weight: bold;
}
#header .nav .link:hover {
    color: #F28410;
    text-shadow: none;
}

#header .logo {
    float: left;
    margin-top: 6px;
    
}

.logo {
    font-family: Whatever;
    letter-spacing: 4px;
    
    font-size: 20px;
    text-shadow: 0px 1px 0px rgba(255,255,255,0.4);
}

#body .center {
    background: #F6FAA1;
    background-image: -webkit-gradient(linear, left 50%, left 100%, from(rgb(240,240,240)), to(rgb(200,200,200)));
    
    border-radius: 10px 10px 0px 0px;
    padding: 15px;
    box-shadow: 0px 1px 5px black;
    min-height: 400px;
}

#body ul {
    list-style-position: inside;
}

#body h1 {
    text-shadow: 1px 1px 0px white;
    margin-bottom: 20px;
}

#body h2 {
    color: #D66011;
    text-align: center;
}

body.new_currency h2 {
	text-align: left !important;
	margin-bottom: 10px;
}
#body .options {
    margin-top: 10px;
    overflow: auto;
    padding-bottom: 10px;
}

#body .option {
    float: left;
    width: 40%;
    margin-right: 10%;
}

#body .options .image {
    text-align:center;
    overflow: hidden;
    height: 170px;
}

#body .option ul {
    list-style-position: outside;
    list-style-type: square;
    margin-left: 30px;
    height: 110px;
}

#body .option ul li {
    margin: 5px 0px;
}

#body .option button {
    margin-top: 10px;
    
}

button {
  background-color: #7fbf4d;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7fbf4d), to(#63a62f));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #7fbf4d, #5F8A42);
  background-image: -moz-linear-gradient(top, #7fbf4d, #5F8A42);
  background-image: -ms-linear-gradient(top, #7fbf4d, #5F8A42);
  background-image: -o-linear-gradient(top, #7fbf4d, #5F8A42);
  background-image: linear-gradient(top, #7fbf4d, #5F8A42);
  border: 1px solid #5F8A42;
  border-bottom: 1px solid #5b992b;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
  -moz-box-shadow: inset 0 1px 0 0 #96ca6d;
  -ms-box-shadow: inset 0 1px 0 0 #96ca6d;
  -o-box-shadow: inset 0 1px 0 0 #96ca6d;
  box-shadow: inset 0 1px 0 0 #96ca6d;
  color: #F6FAA1;
  font: bold 11px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  line-height: 1;
  padding: 7px 0 8px 0;
  text-align: center;
  text-shadow: 0 -1px 0 #4c9021;
  width: 150px; }
  button:hover {
    background-color: #76b347;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#76b347), to(#5e9e2e));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -moz-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -ms-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -o-linear-gradient(top, #76b347, #5e9e2e);
    background-image: linear-gradient(top, #76b347, #5e9e2e);
    -webkit-box-shadow: inset 0 1px 0 0 #8dbf67;
    -moz-box-shadow: inset 0 1px 0 0 #8dbf67;
    -ms-box-shadow: inset 0 1px 0 0 #8dbf67;
    -o-box-shadow: inset 0 1px 0 0 #8dbf67;
    box-shadow: inset 0 1px 0 0 #8dbf67;
    cursor: pointer; }
  button:active {
    border: 1px solid #5b992b;
    border-bottom: 1px solid #538c27;
    -webkit-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
    -moz-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
    -ms-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
    -o-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
    box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee; }

#footer {
    padding-bottom: 450px;
    
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #555), color-stop(1, grey));
    border-top: solid 3px #242;

}

#footer .bottom {
    clear: both;
    padding-top: 10px;
}

#footer p {
    margin: 5px 0px;
    text-shadow: 0px 1px 0px rgba(255,255,255,0.3);
}

#footer .logo {
    margin: 10px 0px;
}

.center {
    width: 700px;
    margin: 0px auto;
    position: relative;
}
