{% extends "base.html" %}
{% block content %}
    <h1>Create your own currency...</h1>
    <div class="options">
        <div class="option">

            <div class="image">
                <img src="/static/event.png" />
            </div>

            <h2>...for an event</h2>

            <ul>
                <li>Offer a temporary, purpose-bound currency</li>
                <li>It's all in your phone! No more raffle tickets and wooden nickels.</li>
                <li>Create an exciting micro-economy</li>
            </ul>



            <button class="big event">
                Get started your <b>event</b>.
                <!-- <div class="tagline">No more wooden nickels and raffle tickets. Roll out a modern, purpose-bound digital currency</div> -->
            </button>


        </div>
        <div class="option">
            <div class="image">
                <img src="/static/community.png" />
            </div>

            <h2>...for your community</h2>

                <ul>
                    <li>Support the local economy</li>
                    <li>Encourage spending</li>
                    <li>Protect yourself from financial meltdown </li>
                </ul>

                <button class="big community">
                    Create a <b>local currency</b>.
                    <!-- <div class="tagline">No more wooden nickels and raffle tickets. Roll out a modern, purpose-bound digital currency</div> -->
                </button>

        </div>
    </div>


<script type="text/javascript" charset="utf-8">
    
    $(function(){
        // the more ghetto the more better
        $('button').click(function(){window.location = '/currency'});
    });
    
    
</script>

{% endblock content %}
